*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #9EC8B9;
}
.container-fluid{
    margin: 10px 100px;
}
@media(max-width:768px){
    .container-fluid{
        margin: 10px 50px;
    }
}
