.heading{
    text-align: center;
    font-size: 2rem;
    font-family: "Ubuntu", sans-serif;
    color: #092635 ;
}
.box{
    margin: 50px 0 0;
    display: flex;
    text-align: start;
    gap: 50px;
}
.project--text, .project--stack{
    font-weight: 100;
    color: #1B4242;
}
.project--text{
    font-size: 1.7rem;
    margin-top: 10px;  
}
.project--stack-list{
    margin: 10px;
    font-style: italic;
    font-size: 1rem;
    list-style-type:square;
    display: flex;
    gap: 10px;
    align-items: center;
}
.project--stack-list li{
    margin: 10px;
}
.box--image{
    width: 400px;
    height: 250px;
    border: 2px dotted #092635;
}
.fa-link{
    font-size: 1.1rem;
}
@media(max-width:768px){
    .heading{
        font-size: 1.8rem;
    }
    .project--text{
        font-size: 1.4rem;
    }
    .project--stack-list{
        font-size: 1rem;
    }
    .project--heading{
        font-size: 1.8rem;
    }
    .box--image{
        width: 300px;
        height: 200px;
    }
}
@media(max-width:425px){
    .box{
        gap: 20px;
    }
    .heading{
        font-size: 1.7rem;
        margin: 50px 0;
    }
    .box{
        flex-direction: column;
    }
    .project--text{
        font-size: 1.3rem;
    }
    .project--stack-list{
        font-size: 0.9rem;
    }
    .project--heading{
        font-size: 1.6rem;
    }
}