.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}
.highlights {
  color: rgb(216, 36, 36);
}
.home--content {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.home--img {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  background-image: url(./assets/blob.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
}
.home--img img {
  width: 300px;
  height: 400px;
  border-radius: 40%;
}
.waving--hand {
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}
.home--content-text {
  font-weight: 200;
  font-size: 2.7rem;
}
.contact--button{
  margin: 30px 0;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@media(max-width:768px){
  .home{
    column-gap: 50px;
  }
  .home--content{
    font-size: 2rem;
  }
  .home--content-text{
    font-size: 1.6rem;
  }
  .home--img{
    background-size: 400px;
    margin: 0;
  }
  .home--img img{
    width: 250px;
    height: 350px;
  }
}
@media(max-width:425px){
  .home{
    grid-template-columns: repeat(1,1fr);
  }
}
