a{
    text-decoration: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    padding: 20px 30px;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.navbar--middle{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0;
}
.navbar--middle-item{
    font-size: 1.3rem;
    font-weight: 300;
}
.logo{
    font-size: 1.6rem;
    margin-right: auto;
    letter-spacing: 0.2rem;
    color: #ffff;
}
.navbar--last-resume{
    font-size: 1.4rem;
}